<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">SkyStore</h4>
                    <p class="text-muted">Только у нас и только здесь.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <ul class="list-unstyled">
                    </ul>
                    {% if user.is_authenticated %}
                    <nav class="ms-5">
                        <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выйти</a>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'users:profile' %}">Профиль</a>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:products_list' %}">Каталог</a>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts_list' %}">Контакты</a>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:blog_list' %}">Форум</a>
                    </nav>
                    {% else %}
                    <nav class="ms-5">
                        <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:products_list' %}">Каталог</a>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:contacts_list' %}">Контакты</a>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:blog_list' %}">Форум</a>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>SkyStore</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>