{% extends 'catalog/base.html'%}
{% load mediapath %}
{% block content %}
{% include 'catalog/includes/inc.catalog.title.html' %}
{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <img src="{{ object.product_image|mediapath }}"
             alt=""
             width="300"
             height="200">
        <div class="card-body">
            <p class="card-text">{{ object }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <p class="card-text">{{ object.product_text }}</p>
                </div>
                <small class="text-muted">9 mins</small>
            </div>
        </div>
        <body>
        <nav class="ms-5">
            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product' object.pk %}">О товаре</a>
        </nav>
        </p>
        </body>
    </div>
</div>
{% endfor %}
{% endblock %}
