{% extends 'catalog/base.html' %}
{% block content %}
    <div class="col">
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">Редактирование</div>
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-success"
                                   value="{% if object %}Сохранить{% else %}Создать{% endif %}">

                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">Версия продукта</div>
                        <div class="card-body">
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                                <tr class="version-form">{{ form.as_p }}</tr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}